.actions{
    align-items: center;
    & .mock{
        height: 2rem;
        color: #fff;
        font-weight: bold;
        width: fit-content;
        border-radius: 4px;
        border: 1px solid transparent;
        padding: 0.2rem;
        font-size: 1em;
        background-color: var();
        /* background-image: var(--color-terciary-gradient); */
    }
}

.button {
    /* background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%); */
    /* background-image: var(--color-terciary-gradient); */
    align-items: center;
    background-image: radial-gradient(100% 100% at 100% 0, red 0%, rgb(233, 92, 11) 100%);
    border-radius: 0.3rem;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    font-weight: bold;
    justify-content: center;
    padding: 0.8rem 3rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 1rem;
    width: 100%;
  }
  
  .button:focus {
    box-shadow: red 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #e95c0b 0 -3px 0 inset;
  }
  
  .button:hover {
    box-shadow: red 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #e95c0b 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button:active {
    box-shadow: red 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #e95c0b 0 -3px 0 inset;
    transform: translateY(2px);
  }
  