.site{
    background: var(--colorGradietne);
    width: 65vw;
    margin: 2rem auto;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

b{
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    text-align: center;
}
