.button {
  width: 100%;
  padding: clamp(var(--space-xs), 1vw, var(--space-xs));
  align-items: center;
  /* box-shadow: var(--shadow-elevation-high); */
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border: none;
  border-radius: var(--space-xs);



  &.lighted{
    background-image: var(--color-gradient-primary);
    &:hover{
      box-shadow: var(--shadow-elevation-high);
    }
  }

  &.opaque{
    color: black;
    font-weight: normal;
    background-color: var(--color-complementary-3-bright);
  }

  &.options{
    background-image: var(--color-gradient-primary);
    &:hover{
      box-shadow: 2.5px 2.5px 5px var(--color-complementary-1-mate);
    }
  } 

  &.add-remove{
    /* width: 1rem;
    border-radius: var(--space-sm);
    padding: var(--space-xxs); */
    display: flex;
    border-radius: 50%;
    justify-items: center;
    align-items: center;
    height: var(--space-lg);
    background-image: var(--color-complementary-3-bright);
    color: black;
    /* padding: var(--space-xxs) var(--space-xxs); */
    /* justify-items: center; */
  }

  &:hover{
    box-shadow: var(--shadow-elevation-high);
  }
}

