.containerDetalleProducto {
    width: auto;
    display: grid;
    grid-template-columns: 0.8fr 0.6fr;
    grid-template-rows: 0.9fr 0.9fr;
    gap: 0.3rem;
    padding: 1rem;
    grid-template-areas:
        "img colores"
        "img descripcion";

    justify-content: center;
    margin-bottom: 1rem;
    border-radius: 1rem;
    /* background: linear-gradient(to left, #fbc901, #fb4b01); */
    background-color: transparent;
    opacity: 1;

    & div {
        overflow: hidden;
        border-radius: 1rem;
    }
}

.descripcion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    grid-area: descripcion;
    font-size: 1.4rem;
    background: var(--colorGradietne);
    border: 2px solid black;

}

.img1 {
    grid-area: img;
}

.imagen1 {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.guardarCancelar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 18rem;
    gap: 2rem;
    margin-bottom: 3rem;

    & div {
        width: 18rem;
    }
}


/* ratios */
.colores {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    justify-content: flex-start;
    background: var(--colorGradietne);
    border: 2px solid black;

    & p {
        font-size: 1.4rem;
    }
}


@media (max-width: 1024px) {
    .containerDetalleProducto {
        grid-template-columns: 0.5fr 0.55fr;
        grid-template-rows: 0.9fr 0.9fr 0.5fr 1fr;

    }

    .guardarCancelar {
        flex-wrap: wrap;
    }
}
