.container__productDetail{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    gap: clamp(var(--space-xl), 1.5vw, var(--space-xxl));
    justify-content: center;
    align-items: center;
    
    & .info__product{
        display: flex;
        flex-direction: column;
        gap: clamp(var(--space-xl), 1.5vw, var(--space-xxl));
        padding: clamp(var(--space-sm), 1.5vw, var(--space-md));
    }

    & .actions{
        display: flex;
        gap: clamp(var(--space-md), 1vw, var(--space-md));
    }
}   

@media(max-width:770px){

    .container__productDetail{
        display: flex;
        flex-direction: column;
        padding: clamp(var(--space-md), 1.5vw, var(--space-lg));
    }

}