.containerDetalleProducto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    gap: 0.3rem;
    margin-bottom: 2rem;
}

.img1 {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35rem;
    
}

.imagen1 {
    width: 100%;
    height: 100%;
    object-fit: fill;
    opacity: 1;  /* Asegura que la imagen comienza visible */
    transition: opacity 0.3s ease-in-out;
}

.fade-out {
    opacity: 0; /* Reduce la opacidad antes de cambiar la imagen */
}


.controlers{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.anterior, .siguiente {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    border: none;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    width: 10rem;
    margin: 0 0 1.5rem;

}

.descripcion {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 1rem;
    font-size: 1.4rem;
    background: var(--colorGradietne);
    border: 2px solid black;

}

.colores {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    
    gap: 1rem;
    padding: 1rem;
    background: var(--colorGradietne);
    border: 2px solid black;

    & p {
        font-size: 1.4rem;
    }
}

.selectColor {
    width: 12rem;
    height: 2.5rem;
    border-top-left-radius: 1rem;
    background-color: black;
    border: 2px solid black;
    margin: 0 auto;
    padding: 0.2rem;
    color: white;
    font-size: 1.2rem;
}

.selectColor option {
    background-color: black;
    color: white;
    font-size: 1rem;
    min-width: 12rem;
    text-align: center;
}

.medidas{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
    background: var(--colorGradietne);
    border: 2px solid black;

    & p {
        font-size: 1.4rem;
    }
}

.guardarCancelar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 18rem;
    gap: 2rem;
    margin-bottom: 3rem;

    & div {
        width: 18rem;
    }
}






@media (max-width: 768px) {
    .containerDetalleProducto {
        width: 90%;
    }

    .img1 {
        height: 20rem;
    }

    .guardarCancelar {
        flex-wrap: wrap;
    }
}