.product{
    width: 19rem;
    max-height: 22rem;
    border-radius: 1rem;
    padding: 1rem;
    /* background-color: #ffffff; */
    opacity: 0.9;
    background: linear-gradient(to bottom, #fbc901, #fb4b01);
    
}

.product img{
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 1rem 1rem 0 0;
}   

.product .content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    height: auto;
    text-align: center;
    & p{
        min-width: 100%;
    }
}

.price{
    font-size: 2rem;
    color: #000;
    font-weight: bold;
    text-align: center;
}
