.product {
    width: clamp(90%, 1vw, 22rem);
    height: clamp(100%, 1vw, 22rem);
    border-radius: 1rem;
    padding: clamp(var(--space-md), 1vw, var(--space-lg));
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    background: white;
}

.product img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 1rem;
}

.product .content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    height: auto;
    align-self: start;

    & .title{
        font-weight: normal;
    }

}

.price {
    font-size: var(--text-md);
    color: var(--color-light-text);
    font-weight: 300;

    align-self: start;
}


.color__options {
    display: flex;
    gap: 1rem;

    position: relative;

    
    & .color__option--circle {
        cursor: pointer;
        width: var(--space-xl);
        height: var(--space-xl);
        border-radius: 1rem;
        position: relative;
        border: 1px solid rgb(128, 114, 114);

        &:hover+.color__option--hoverHexValue {
            transition: opacity 0.5s ease;
            opacity: 1;
        }
    }

    & .color__option--hoverHexValue {
        /* display: none; */
        opacity: 0;
        position: absolute;
        bottom: 100%;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        color: white;
        padding: var(--space-md);
        border-radius: 0.5rem;
        font-size: var(--text-md);
        white-space: nowrap;
        /* z-index: 10; */
        margin-bottom: 0.5rem;

        transition: opacity 0.5s ease;
        /* Espacio entre tooltip y círculo */
    }


}

.color__wrapper {
    position: relative;
    display: inline-block;
}