header{
    height: 2.5rem;
    padding: 1rem;
    background: var(--colorGradietne);
    width: 100vw;
}

.content{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    & .titulo{
        width: 50rem;
        height: 1.5rem;
        opacity: 0;
        animation: fadeInOut 6s infinite;
    }
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
