header{
    height: 6rem;
    padding: 1rem;
    background: var(--colorGradietne);
}

.content{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    & .logo{
        width: 10vw;
        height: 5rem;
    }
    & .titulo{
        width: 80vw;
        height: 4.5rem;
    }
}
