.product__info{
    display: flex;
    flex-direction: column;
    gap: clamp(var(--space-md), 1vw, var(--space-xl));

    & .product__price   {
        & p{
            color: var(--color-primary-bright);
        }
    }
}

.data__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(var(--space-md), 1vw, var(--space-xl));
    padding: clamp(var(--space-md), 1vw, var(--space-xl));

    border-radius: var(--space-sm);
    background-color: white;
    
}

.colores {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    text-align: center;

}

.medidas{
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    text-align: center;
}

/* .guardarCancelar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 18rem;
    gap: 2rem;
    margin: 3rem 0;
} */


.input{
    width: 100%;
    height: 1.5rem;
    font-size: 1rem;
}

/* @media (max-width: 768px) {


    
} */