footer {
    width: 100%;
    height: var(--dimension-md);

    display: flex;
    flex-direction: column;
    padding: clamp(var(--space-sm), 1vw, var(--space-xl));
    gap: clamp(var(--space-sm), 1vw, var(--space-xl));
    
    background-color: var(--color-primary-mate);

    justify-content: space-between;
    /* margin-top: auto; */
}

div.network {
    display: flex;
    justify-content: space-between;

    &>div.social {
        display: flex;

        gap: clamp(var(--space-sm), 1vw, var(--space-xl));

        & img {
            width: var(--space-xxl);

            height: var(--space-xxl);

            filter: invert(1);
        }
    }

    &>div.icon {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

div.info {
    display: flex;
    justify-content: space-around;
    &>p {
        width: fit-content;
    }
}


div.payment {
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: clamp(var(--space-sm), 2vw, var(--space-xl));

    & >div.tarjetas{
        display: flex;
        gap: clamp(var(--space-sm), 1vw, var(--space-md));
    }
}

div.client {
    display: flex;
    align-items: center;
    justify-content: center;
    
}