footer{
    height: 5rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.redes  {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    align-items: space-around;
    
    & img{
    filter: invert(100%);
    width: 2.5rem;
    height: 2.5rem;
    }
}
