.container__images {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: clamp(var(--image-md), 10vw, var(--image-xl));

    height: clamp(var(--image-md), 10vw, var(--image-xl));
    
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1; 
    transition: opacity 0.3s ease-in-out;
}

.fade-out {
    opacity: 0; 
}


.controlers{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.anterior, .siguiente {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    border: none;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    border-radius: var(--space-md);
    position: absolute;
    /* width: 10rem; */

    /* margin: 0 0 1.5rem; */

}

.anterior{ 
    bottom: 8.5rem;
    left: -1rem;
}
.siguiente{ 
    bottom: 8.5rem;
    right: -1rem;
}

@media (max-width: 768px) {


    /* .image {
        height: 18rem;
    } */

   
}