.search{
    width: 85%;
    height: 4rem;
    margin-top: 1rem;
    background: var(--colorGradietne);
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    position: relative;
}

.container{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 90%;
    background-color: grey;
    border-radius: 1rem;
    top: 0.2rem;
}


input{
    border: none;
    width: 85%;
    background-color: transparent;
    outline: none;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    height: 4rem;   
}

button{
    background-color: transparent;
    border: none;
    width: 10%;
    margin-right: 0.5rem;
}
