.search{
    width: 85vw;
    /* margin: 0 auto; */
    margin-top: 1rem;
}


input{
    border: none;
    width: 85%;
    background-color: transparent;
    outline: none;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    height: 4rem;   
}

button{
    background-color: transparent;
    border: none;
    width: 10%;
    margin-right: 0.5rem;
}
