.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* min-width: 15rem; */
    /* height: 95%; */
    padding: clamp(var(--space-xxs), 1vw, var(--space-xs)) clamp(var(--space-xs), 1vw, var(--space-sm));
    /* padding: 1rem 2rem; */
    background-color: var(--color-primary-mate);
    /* border: 1px solid yellow; */
    border-radius: 1rem;
}

.input__search {
    width: 100%;
    height: 2rem;
    background-color: transparent;
    color: white;
    border: none;
    font-size: clamp(var(--text-sm), 1vw, var(--text-lg));
    font-weight: bold;
    cursor: pointer;

    &::placeholder {
        font-weight: bold;
        color: white;
        font-style: italic;
    }

    &:focus {
        border: none;
        outline: none;
        cursor: pointer;
    }
}

.inputBusqueda {
    height: 100%;

    & input {}

    
}


.lupa {
    background-color: transparent;
    border: none;

    & button {
        background-color: transparent;
        border: none;
        margin-right: 1rem;

        & svg {
            background-color: transparent;
            width: 2rem;
            height: 2.5rem;
        }
    }
}