.search{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-width: 15rem;
    height: 95%;
    background-color: grey;
    border: 1px solid yellow;
    border-radius: 1rem;
}

.inputBusqueda {
    height: 100%;

    & input {
        width: 100%;
        height: 2rem;
        background-color: transparent;
        color: white;
        padding-left: 1rem;
        border-radius: 1rem;
        border: none;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
    }
    
    & input::placeholder {
        font-weight: bold;
        color: black;
        font-style: italic;
    }

    & input:focus {
        border: none; 
        outline: none;
        cursor: pointer;
    }
}


.lupa{
    background-color: transparent;
    border: none;
    & button{
        background-color: transparent;
        border: none;
        margin-right:1rem ;
        & svg{
            background-color: transparent;
            width: 2rem;
            height: 2.5rem;
        }
    }
}