.productsList {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
    gap: 2rem;
    padding: 2rem;
    align-items: center; 
    justify-items: center;
}
