:root {
  font-family: Ubuntu, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  --colorGradietne: linear-gradient(to right, #fbc901, #fb4b01);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url('../src/assets/fondo2.jpg') no-repeat center center fixed;
  background-size: cover;
}

body,
html{
  width: 100%;
  height: 100%;
}


button {
  cursor: pointer;
}
