:root {
  font-family: Ubuntu, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  
    /* //////////////////////////////////////////////////// */
    /* FONT SIZE BASE */
    /* //////////////////////////////////////////////////// */

  --text-base-size: 10px;

  /* //////////////////////////////////////////////////// */
  /* ESCALA GENERAL, PARA AFECTAR A TODOS */
  /* //////////////////////////////////////////////////// */
  --ratio-general: 1;

  /* //////////////////////////////////////////////////// */
  /*  ESCALA ESPECIFICA DE CADA TAMANIO(XXL, XL, LG, ETC)*/
  /* //////////////////////////////////////////////////// */
  --text-xxl: calc(var(--text-base-size) * var(--ratio-general) * 3.5);
  --ratio-xl: 2.5;
  --text-xl: calc(var(--text-base-size)*var(--ratio-general)*var(--ratio-xl));
  --ratio-lg: 2.1;
  --text-lg: calc(var(--text-base-size)*var(--ratio-general)*var(--ratio-lg));
  --ratio-md: 1.8;
  --text-md: calc(var(--text-base-size)*var(--ratio-general)*var(--ratio-md));
  --ratio-sm: 1.5;
  --text-md: calc(var(--text-base-size)*var(--ratio-general)*var(--ratio-sm));
  --ratio-xs: 1.3;
  --text-xs: calc(var(--text-base-size)*var(--ratio-general)*var(--ratio-xs));
  --ratio-xxs: 1;
  --text-xxs: calc(var(--text-base-size)*var(--ratio-general)*var(--ratio-xxs));

  --shadow-color: 0deg 0% 50%;
  /* Gris neutral */
  --shadow-elevation-high:
    0.2px 0.2px 0.3px hsl(var(--shadow-color) / 0.45),
    0.8px 0.8px 1.2px -0.2px hsl(var(--shadow-color) / 0.42),
    1.6px 1.6px 2.4px -0.5px hsl(var(--shadow-color) / 0.39),
    2.5px 2.5px 3.8px -0.8px hsl(var(--shadow-color) / 0.36),
    4px 4px 6px -1.2px hsl(var(--shadow-color) / 0.33),
    6px 6px 9px -1.6px hsl(var(--shadow-color) / 0.30),
    9px 9px 13.5px -2px hsl(var(--shadow-color) / 0.28),
    13px 13px 19.5px -2.5px hsl(var(--shadow-color) / 0.25);



  /* //////////////////////////////////////////////////// */
  /* COLORES ADRIAN */
  /* //////////////////////////////////////////////////// */
  --color-primary-bright: #d94f14;
  --color-primary-mate: #cf6538;

  --color-complementary-1-bright: #e2c037;
  --color-complementary-1-mate: #d6be61;

  --color-complementary-2-bright: #af7ac5;
  --color-complementary-2-mate: #d7bde2;

  --color-complementary-3-bright: #b7c4bc;
  --color-complementary-3-mate: rgb(85, 90, 94);

  --color-light-text: #595961;
  --color-gradient-primary: linear-gradient(to right, #eaa10f, #ea870f);
  --color-gradient-secondary: linear-gradient(to right, #c8440c, #e2c037);
  --color-gradient-terciary: linear-gradient(to right, #573627, #74662d);

  /* //////////////////////////////////////////////////// */
  /* VARIABLES PARA CLASES DE UTILIDAD(PADDINGS, MARGINS, GAPS, ETC) */
  /* //////////////////////////////////////////////////// */
  --space-unit: 1rem;
  --space-xxs: calc(0.25 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1 * var(--space-unit));
  --space-lg: calc(1.25 * var(--space-unit));
  --space-xl: calc(2.25 * var(--space-unit));
  --space-xxl: calc(3.50 * var(--space-unit));

  /* //////////////////////////////////////////////////// */
  /* VARIABLES PARA IMAGENES*/
  /* //////////////////////////////////////////////////// */
  --image-xxs: 10rem;
  --image-xs: 15rem;
  --image-sm: 20rem;
  --image-md: 25rem;
  --image-lg: 30rem;
  --image-xl: 40rem;
  --image-xxl: 45rem;


  /* //////////////////////////////////////////////////// */
  /* VARIABLES PARA IMAGENES*/
  /* //////////////////////////////////////////////////// */
  --dimension-xxs: 5rem;
  --dimension-xs: 10rem;
  --dimension-sm: 15rem;
  --dimension-md: 20rem;
  --dimension-lg: 30rem;
  --dimension-xl: 40rem;
  --dimension-xxl: 50rem;
}

h1,
.text-xxl {
  font-weight: normal;
  font-size: var(--text-xxl, 2.074em);
}

h2,
.text-xl {
  font-weight: normal;
  font-size: var(--text-xl, 1.728em);
}

h3,
.text-lg {
  font-weight: normal;
  font-size: var(--text-lg, 1.44em);
}

h4,
.text-md {
  font-weight: normal;
  font-size: var(--text-md, 1.2em);
}

p,
.text-base {
  font-weight: normal;
  font-size: var(--text-base-size);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--text-base-size);
}


body {
  font-size: var(--text-base-size);
  background: rgb(233, 229, 229);
  font-family: var(--fuente-default);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  height: 0;
}

.toast-message {
  font-size: 1.5rem;
  /* Cambiar el tamaño de la fuente del mensaje */
}

.toast-title {
  font-size: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

