
th,
td {
    text-align: center;
    border: 1px solid yellow;
}

div p{
    font-size: 1rem;
    font-weight: bold;
}

.cartContainer {
    height: auto;
    padding: 1rem;
    /* margin: 3rem 0 3rem 0; */
}

.cartTable {
    border-collapse: collapse;
    background: linear-gradient(to top, #fbc901, #fb4b01);
}

.cartTableHeader {
    height: 10rem;
    font-size: 1.5rem;
    padding: 1rem;
}

.articulo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    width: 20rem;

    & img{
        width: 12rem;
        height: 10rem;
        object-fit: fit;
        border-radius: 1rem;
        border: 1px solid yellow;
    }
}

.contador {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15rem;
}

.eliminar {
    width: 8rem;
}

.precio {
    width: 8rem;
}

.precioFinal {
    margin: 2rem 0 2rem 0;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & p {
        font-size: 1.3rem;
    }
}


.datosMail{
    height: 8rem;
    gap: 1rem;
    margin-top: 1rem;

    & p {
        font-size: 1.2rem;
        font-weight: bold;
    }

    & input {
        width: 30rem;
        height: 3rem;
        font-size: 1.2rem;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 1rem;
        margin-top: 1rem;
    }
}

.guardarCancelar{
    display: flex;
    width: 100%;
    & button {
        width: 7rem;
        height: 3rem;
    }
}


@media screen and (max-width: 960px) {

    div p {
        font-size: 0.8rem;
    }

    .cartContainer {
        padding: 0.5rem;
    }

    .cartTableHeader {
        height: 5rem;
        font-size: 1rem;
    }

    .articulo {
        /* padding: 1rem; */
        font-size: 0.9rem;
        width: 35vw;
        margin: 0 auto;
        
        & img {
            width: 7.5rem;
            height: 7rem;
        }
    }

    .contador {
        flex-direction: column-reverse;
        height: 12rem;
        width: 20vw;
       
    }

    .eliminar {
        width: 20vw;
    }

    .eliminarProducto {
        width: 2rem;
        height: 2rem;
    }

    .precio {
        width: 18vw;
    }

    .precioFinal {
        height: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        & p {
            font-size: 1rem;
        }
    }

    .datosMail {
        height: 6rem;
        & p {
            font-size: 0.8rem;
        }
        & .inputMail {
            width: 20rem;
            height: 2rem;
            font-size: 0.7rem;
            padding: 1rem;
    
        }
    }   
}