.cartContainer {
    width: 80%;
    height: auto;
    padding: 5px;
    margin:  3rem 0 3rem 0;
    
}

.cartTable {
    border-collapse:collapse;
    width: 100%;
}

th, td {
    text-align: center;
    border: 2px solid grey;
}
.cartTableHeader {
    height: 10rem;
    font-size: 1.2rem;
    
}

.articulo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    height: 100%;
    width: 100%;
}

.imgCart {
    width: 15rem;
    height: 15rem;
}

.imgCart img {
    width: 100%;
    height: 10rem;
    object-fit: cover; 
    display: block; 
}

.standar{
    width: 14rem;
}
.eliminar{
    width: 14rem;
}

.precio{
    height: 10rem;
    font-size: 2rem;
}


.contador{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

@media (max-width: 768px) {
   .cartContainer {
        width: 95%;
        font-size: 0.8rem;
    }
    .imgCart{
        width: 5rem;
        height: 5rem;
        /* object-fit: fill; */
    }

}

