.container__cartLayout {
    display: flex;
    flex-direction: column;
    gap: clamp(var(--space-md), 1vw, var(--space-lg));

    padding: clamp(var(--space-md), 1vw, var(--space-lg));
}

.container__cart {
    display: flex;
    gap: clamp(var(--space-md), 1vw, var(--space-lg));
}

.container__cartItems {

    display: flex;
    flex-direction: column;
    gap: clamp(var(--space-sm), 1vw, var(--space-md));

    & .card__cartItem {
        display: flex;
        width: var(--dimension-xl);
        flex-direction: column;
        background-color: white;
        border-radius: var(--space-xs);
        padding: clamp(var(--space-sm), 1vw, var(--space-md));
        gap: clamp(var(--space-sm), 1vw, var(--space-md));

        position: relative;
        & button{
            &  > img.icon__delete{
                width: 1.5rem;
            }
        }

        & .cartItem__main {
            display: flex;
            flex-direction: row;
            gap: clamp(var(--space-sm), 1vw, var(--space-md));

            & img {
                width: clamp(var(--image-xxs), 1vw, var(--image-md));
                height: auto;
                aspect-ratio: 16/9;
                border-radius: 1rem;
            }
        }

        & .item__details {
            display: flex;
            flex-direction: column;
            gap: clamp(var(--space-xs), 1vw, var(--space-xs));

            padding: clamp(var(--space-xxs), 1vw, var(--space-sm));

            & .item__detail {
                display: flex;
                justify-content: space-between;
                align-items: center;

                & .color__wrapper {
                    position: relative;
                    display: flex;
                    align-items: center;

                    gap: clamp(var(--space-xs), 1vw, var(--space-xs));

                    & .color__option--circle {
                        cursor: pointer;
                        width: var(--space-xl);
                        height: var(--space-xl);
                        border-radius: 1rem;
                        position: relative;
                        border: 1px solid rgb(128, 114, 114);
                        &:hover+.color__option--hoverHexValue {
                            transition: opacity 0.5s ease;
                            opacity: 1;
                            display: flex;
                        }
                    }

                    & .color__option--hoverHexValue {
                        position: absolute;
                        bottom: 100%;
                        left: 0;
                        background: rgba(0, 0, 0, 0.8);
                        color: white;
                        padding: var(--space-md);
                        border-radius: 0.5rem;
                        font-size: var(--text-md);
                        white-space: nowrap;
                        /* z-index: 10; */
                        margin-bottom: 0.5rem;
                        transition: opacity 0.5s ease;
                        opacity: 0;
                        /* Espacio entre tooltip y círculo */
                    }
                }

                & .detail__ammount {
                    display: flex;
                    gap: clamp(var(--space-xs), 1vw, var(--space-xs));
                    align-items: center;
                }


            }
        }
    }
}


.container__cartItems--price {
    display: flex;
    flex-direction: column;
    /* height: var(--dimension-md); */
    width: calc(var(--dimension-md)*1.2);

    justify-content: space-evenly;
    padding: clamp(var(--space-sm), 1vw, var(--space-md));

    border-radius: var(--space-xs);
    background-color: white;

    & .price__details {

        width: 95%;
        display: flex;

        justify-content: space-between;
        font-size: var(--text-md);
        color: var(--color-light-text);
        font-weight: 300;

        align-self: start;
    }
}

/* .vacio {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    background: linear-gradient(to top, #fbc901, #fb4b01);
    padding: 3rem;
    border-radius: 1rem;
    border: 2px solid black;
    margin: 0 auto;


    & p {
        font-size: 1rem;
        font-weight: bold;
        margin: 2rem 0 2rem 0;
    }

    & a {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        color: black;
        background-color: orangered;
        border: 2px solid black;
        border-radius: 0.5rem;
        padding: 0.5rem;
    }
} */

@media (max-width:700px) {
    .container__cart {
        display: flex;
        flex-direction: column;
        /* gap: clamp(var(--space-md), 1vw, var(--space-lg)); */
    }

    .container__cartItems {

        display: flex;
        flex-direction: column;
        gap: clamp(var(--space-sm), 1vw, var(--space-md));

        & .card__cartItem {
            width: 100%;
            
        }
    }

    .container__cartItems--price {
        width: 100%;
    }
}