th,
td {
    text-align: center;
    border: 3px solid black;
}

.cartContainer {
    /* width: 70%; */
    height: auto;
    padding: 5px;
    margin: 3rem 0 3rem 0;

}

.cartTable {
    border-collapse: collapse;
    width: 100%; 
    background: var(--colorGradietne);
}

.cartTableHeader {
    height: 10rem;
    font-size: 2rem;
}


.imgCart img {
    width: 15rem;
    height: 12rem;
    object-fit: cover;
    display: block;
    border-radius: 1rem;
}

.articulo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.3rem;
    width: 20rem;
}

.cantidad {
    width: 25rem;
    font-weight: bold;
    font-size: 2rem;
}


.contador {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contadorRestar, .contadorSumar {
    border-radius: 2rem;
    width: 4rem;
    height: 4rem;
    font-size: 1.7rem;
    font-weight: bold;
}

.contadorRestar {
    background-color: red;
}
.contadorSumar{
    background-color: green;
}

.eliminar {
    width: 12rem;
}
.eliminarProducto{
    width: 6rem;
    height: 4rem;
    border-radius: 1rem;
    background-color: red;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.precio {
    width: 12rem;
    font-size: 1.7rem;
    font-weight: bold;
}


.precioFinal {
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem 0 2rem 0;
    height: 10rem;
}

.confirmacion{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0 2rem 0;
}


@media screen and (max-width: 1024px) {
    .cartContainer {
        width: 98%;
        padding: 1px;
    }

    .cartTableHeader{
        height: 4rem;
        font-size: 0.8rem;
    }
    
    .imgCart {
        width: 5rem;
    }

    .imgCart img {
        height: 6rem;
    }

    .articulo {
        padding: 0;
        font-size: 0.7rem;
    }

    .cantidad {
        width: 40rem;
        font-size: 0.7rem;
    }

    .eliminar {
        width: max-content;
    }

    .precio {
        font-size: 0.7rem;
        width: 15rem;
    }

    .precioFinal {
        font-size: 1rem;
        margin: 1rem 0 1rem 0;
        height: 4rem;
    }

}