.container__cart{

    display: flex;
    flex-direction: column;
    gap: clamp(var(--space-md), 1vw, var(--space-lg));

}

.container__cartItems {

    display: flex;
    flex-direction: column;
    gap: clamp(var(--space-sm), 1vw, var(--space-md));

    & .card__cartItem {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: var(--space-xs);
        padding: clamp(var(--space-sm), 1vw, var(--space-md));
        gap: clamp(var(--space-sm), 1vw, var(--space-md));

        & .cartItem__main {
            display: flex;
            flex-direction: row;
            gap: clamp(var(--space-sm), 1vw, var(--space-md));
            & img {
                width: clamp(var(--image-xxs), 1vw, var(--image-md));
                height: auto;
                aspect-ratio: 16/9;
                border-radius: 1rem;
            }
        }

        & .item__details {
            display: flex;
            flex-direction: column;
            gap: clamp(var(--space-xs), 1vw, var(--space-xs));
            & .item__detail {
                display: flex;
                justify-content: space-between;
                
                & .detail__ammount{
                    display: flex;
                    gap: clamp(var(--space-xs), 1vw, var(--space-xs));
                    height: fit-content;
                }

            
            }
        }
    }
}

.vacio {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    background: linear-gradient(to top, #fbc901, #fb4b01);
    padding: 3rem;
    border-radius: 1rem;
    border: 2px solid black;
    margin: 0 auto;


    & p {
        font-size: 1rem;
        font-weight: bold;
        margin: 2rem 0 2rem 0;
    }

    & a {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        color: black;
        background-color: orangered;
        border: 2px solid black;
        border-radius: 0.5rem;
        padding: 0.5rem;
    }
}