th, td {
    text-align: center;
    border: 2px solid grey;
}

.cartContainer {
    width: 75%;
    height: auto;
    padding: 5px;
    margin:  3rem 0 3rem 0;
    
}

.cartTable {
    border-collapse:collapse;
    width: 100%;
}

.cartTableHeader {
    height: 10rem;
    font-size: 1.2rem;
}



.imgCart {
    /* height: 15rem; */
    width: 25rem;
}

.imgCart img {
    width: 100%;
    height: 14rem;
    object-fit: cover; 
    display: block; 
}

.articulo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.3rem;
}

/* .precio{
    width: 20%;
} */

.cantidad{
    width: 25rem;
    font-weight: bold;
    font-size: 1.5rem;
}


.contador{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/* .eliminar{
    width: 20%;
    } */
    
    .precio{
    font-size: 1.3rem;
    font-weight: bold;
}

.eliminar{
    width: 20rem;
}

.precioFinal{
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem 0 2rem 0;
    height: 10rem;
}


@media screen and (max-width: 768px) {
    .cartContainer {
        font-size: 0.8rem;
        width: 100%;
    }
    .articulo {
        gap: 1rem;
        width: 7rem;
    }
    .imgCart {
        width: 100%;
        height: 100%;
    }
    .imgCart img {
        width: 100%;
        height: 100%;
    }
    .contador {
        flex-direction: column;
        gap: 1rem;
    }
    .eliminar {
        width: 100%;
    }
    .precio {
        height: 100%;
        font-size: 1.5rem;
    }
    
}

