nav {
    width: 100%;
    height: 45vh;
    background: var(--colorGradietne);
    display: flex;
    flex-direction: column;
}

.links {
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.enlaces{
    display: flex;
    flex-direction: row;
    width: 33%;
    gap: 0.5rem;
    justify-content: space-around;
    align-items: center;

    & div, p, a{
        width: auto;
        font-size: 1rem;
        text-wrap: nowrap;
        text-decoration: none;
        color: black;

    }
    
}




.containerNombre {
    width: auto;
    justify-content: center;
}

.nombreEmprendimiento {
    width: 15rem;
    height: 2rem;
    /* position: relative; */

}

.carrito {
    width: 33%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

    & div{
        width: auto;
    }
}

.chango{
    margin-right: 1rem;
    & svg{
        width: 2.5rem;
        height: 2.5rem;
    }
}

.carrito svg:hover {
    fill: yellow;
}



a:hover {
    color: yellow;
}


.animacionImagenes {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    & div {
        border: 1px solid yellow;
    }
}

.vacioIzquierda,
.vacioDerecha {
    height: 100%;
    width: 17%;
}

.izquierda,
.derecha {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;

    & img {
        width: 15rem;
        height: 15rem;
        rotate: 90deg;
    }
}

.burger {
    display: none;
}


@media (max-width: 940px) {

    .links {
        border: 1px solid yellow;
        margin-bottom: 3rem;
    }
    .enlaces {
        display: none;
    }

    .burger {
        display: flex;
        justify-content: flex-start;
        margin-right: 1rem;
    }
    
    .burger:hover svg {
        fill: yellow;
    }
    
    .vacioIzquierda {
        width: 20vw;
        height: 15rem;
        position: relative;
    }
    
    .searchResponsive {
        position: absolute;
        top: 9.5vh;  /* Mueve el search a la parte inferior */
        left: 50%;
        transform: translateX(-50%);
        padding: 1rem;
        width: 80%; /* Aumenta el ancho del div */
    }
    
    .vacioDerecha {
        width: 20vw;
        height: 15rem;
    }
    
    .izquierda,
    .derecha {
        display: flex;
        height: 15rem;
        justify-content: center;
        align-items: center;
        width: 100vw;

        & img {
            width: 15vw;
            height: 15vh;
        }
    }

    .links {
        justify-content: space-around;
        gap: 0.5rem;
    }

    .carrito {
        margin: 0;
        width: 3rem;
    }

    .containerNombre {
        width: auto;
    }
}
