nav{
    width: 100vw;
    height: 65vh;
    background: var(--colorGradietne);
    display: flex;
    flex-direction: column;
}
.links {
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

}

.enlaces, .containerNombre, .carrito{
    width: 33vw;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.5rem;
    align-items: center;
    & a{
        text-decoration: none;
        color: black;

    }
    
}

.containerNombre{
    justify-content: center;
}

.carrito{
    justify-content: flex-end;
    margin-right: 3rem;
    & svg{
        margin: 0 auto;
    }
}

.carrito svg:hover {
    fill: yellow;
}

.nombreEmprendimiento{
    width: 15rem;
    height: 1rem;

}

a:hover {
    color: yellow;
}


.animacionImagenes{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100%;
    justify-content: center;
    align-items: center;

    & div{
        border: 1px solid yellow;
    }
}

.vacioIzquierda, .vacioDerecha{
    height: 100%;
    width: 15vw;
}
.izquierda, .derecha{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;

    & img{
        width: 15rem;
        height: 15rem;
    }
}

.burger{
    display: none;
}


@media (max-width: 940px) {
    .enlaces{
        display: none;
    }

    .burger{
        display: flex;
    }

    .burger:hover svg {
        fill: red;
    }

    .animacionImagenes{
        flex-direction: column;

    }

    .vacioIzquierda, .vacioDerecha{
        width: 100vw;
        height: 10vh;
    }
    .izquierda, .derecha{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
    
        & img{
            width: 13rem;
            height: 11rem;
            /* padding: 1rem; */
        }
    }



    .links{
        justify-content: space-around;
        gap: 0.5rem;
    }

    .carrito{
        margin: 0;
        width: 3rem;
        
    }
}