
.links {
    height: 3.8rem;
    width: 99vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    & a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }

}

