nav {
    width: 100%;
    height: 25rem;
    background: var(--colorGradietne);
    display: flex;
    flex-direction: column;
}

.links {
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.enlaces{
    display: flex;
    flex-direction: row;
    width: 33%;
    gap: 0.5rem;
    justify-content: space-around;
    align-items: center;
}

.enlaces div, .enlaces p, .enlaces a{
    width: auto;
    font-size: 1rem;
    text-wrap: nowrap;
    color: black;
    text-decoration: underline 3px;
    text-underline-offset: 5px;
    text-decoration-color: rgba(0, 0, 0, 0);
}

.enlaces p:hover, .enlaces a:hover {
    animation: diego 1s ease;
    color: red;
}

@keyframes diego {
    0% {
        text-decoration-color: yellow;
    }
   
    100% {
        text-decoration-color: orangered;
    }
}

.containerNombre {
    width: auto;
    justify-content: center;
}

.nombreEmprendimiento {
    width: 15rem;
    height: 2rem;
    /* position: relative; */

}

.carrito {
    width: 33%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

    & div{
        width: auto;
    }
}

.chango{
    margin-right: 1rem;
    & svg{
        width: 3rem;
        height: 3rem;
    }
}

.carrito svg:hover {
    fill: yellow;
}



a:hover {
    color: yellow;
}


.animacionImagenes {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    & div {
        border: 1px solid yellow;
    }
}

.vacioIzquierda,
.vacioDerecha {
    height: 100%;
    width: 17%;
}

.izquierda,
.derecha {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;

    & img {
        width: 14rem;
        height: 12rem;
        rotate: 90deg;
    }
}

.burger {
    display: none;
}


@media (max-width: 940px) {

    nav {
        height: 100%;
    }
    
    .links{
        height: 3rem;
        justify-content: space-between;
        border: 1px solid yellow;
        margin-bottom: 4rem;
        padding: 1rem;
        & .burger, .carrito{
            width: min-content;
        }

    }

    .enlaces{
        display: none;    
    }

    .burger {
        display: inline;
        width: 5rem;
    }
    
    
    .nombreEmprendimiento {
        width: 13rem;
    }

    .carrito{
        width: min-content;
    }

    .searchResponsive {
        position: absolute;
        top: 5.5rem;
        left: 50%;
        transform: translateX(-50%);

        & .inputBusquda{
            width: 20rem;
        }
    }
    .chango{
        /* margin-right: 1rem; */
        & svg{
            width: 2.3rem;
            height: 2.3rem;
        }
    }
    
    .vacioIzquierda,
    .vacioDerecha {
        height: 15rem;
        width: 15%;
        /* display: none; */
    }
    
    .izquierda,
    .derecha {
        height: 15rem;
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        & img {
            width: 9rem;
            height: 6rem;
        }
    }
    
   
}